---
pagination:
  data: collections.numbers
  size: 1
  alias: number
layout: page
renderData:
    title: Number {{ fileSlug }}
eleventyExcludeFromCollections: true
permalink: "/numbers/{{ number.fileSlug }}/"
---

{{ number.templateContent | safe }}
